<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3 id="myModalLabel">Log in to Gunno</h3>
</div>
<div class="modal-body">
  <form>
    <div class="control-group">
      <div class="controls">
        <input type="text" id="inputLoginEmail" placeholder="Email">
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <input type="password" id="inputLoginPassword" placeholder="Password">
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-success btn-large btn-log-in">Log In</button>
</div>