<div class="navbar-inner">
	<a href="/">
		<img alt="Welcome to TWA" class="brand" src="http://www.gatesfoundation.org/~/media/GFO/Site/Footer%20Images/bg_bill_melinda_gates_foundation_visitor_center.jpg?mh=69&mw=150">
	</a>
	<ul class="nav pull-right">
		<li><a class="btn-sign-up" href="#">Sign Up</a></li>
		<li><a class="btn-log-in" href="#">Log In</a></li>
		<li><a class="btn-help" href="#">Help</a></li>
	</ul>
</div>